# DataFrames

Colección de columnas (objetos `pd.Series`). Es como una hoja de excel.

## Youtube

[Ve el vídeo acá](https://youtu.be/L-qlmvPsbPk)


## Dataset
- https://www.fueleconomy.gov/feg/download.shtml
- [Descripción](https://www.fueleconomy.gov/feg/epadata/vehicles.csv)

### Import libraries

In [ ]:
import pandas as pd
import os

In [2]:
# cambia la capeta de trabajo a la raiz
os.chdir("../")

print("Carpeta de trabajo: ", os.getcwd())

Carpeta de trabajo:  /home/migue/data-science/curso_de_pandas

In [48]:
# modifica la ruta a donde lo hayas guardado
dataset_file = (
    "https://www.fueleconomy.gov/feg/epadata/vehicles.csv"
)

vehicles_df = pd.read_csv(dataset_file, dtype_backend="pyarrow")
vehicles_df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,<NA>,<NA>,0.0,<NA>,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,<NA>,0,0,0

In [92]:
# guarda el dataset en el disco si no lo quieres volver a descargar
vehicles_df.to_csv("data/vehicles.csv", index=False)

#### Información básica del `DataFrame`

In [49]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48543 entries, 0 to 48542
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        48543 non-null  double[pyarrow]
 1   barrelsA08       48543 non-null  double[pyarrow]
 2   charge120        48543 non-null  double[pyarrow]
 3   charge240        48543 non-null  double[pyarrow]
 4   city08           48543 non-null  int64[pyarrow]
 5   city08U          48543 non-null  double[pyarrow]
 6   cityA08          48543 non-null  int64[pyarrow]
 7   cityA08U         48543 non-null  double[pyarrow]
 8   cityCD           48543 non-null  double[pyarrow]
 9   cityE            48543 non-null  double[pyarrow]
 10  cityUF           48543 non-null  double[pyarrow]
 11  co2              48543 non-null  int64[pyarrow]
 12  co2A             48543 non-null  int64[pyarrow]
 13  co2TailpipeAGpm  48543 non-null  double[pyarrow]
 14  co2TailpipeGpm   48543 non-null  double[pyarrow]
 15  comb08           48543 non-null  int64[pyarrow]
 16  comb08U          48543 non-null  double[pyarrow]
 17  combA08          48543 non-null  int64[pyarrow]
 18  combA08U         48543 non-null  double[pyarrow]
 19  combE            48543 non-null  double[pyarrow]
 20  combinedCD       48543 non-null  double[pyarrow]
 21  combinedUF       48543 non-null  double[pyarrow]
 22  cylinders        47458 non-null  int64[pyarrow]
 23  displ            47460 non-null  double[pyarrow]
 24  drive            47357 non-null  string[pyarrow]
 25  engId            48543 non-null  int64[pyarrow]
 26  eng_dscr         30776 non-null  string[pyarrow]
 27  feScore          48543 non-null  int64[pyarrow]
 28  fuelCost08       48543 non-null  int64[pyarrow]
 29  fuelCostA08      48543 non-null  int64[pyarrow]
 30  fuelType         48543 non-null  string[pyarrow]
 31  fuelType1        48543 non-null  string[pyarrow]
 32  ghgScore         48543 non-null  int64[pyarrow]
 33  ghgScoreA        48543 non-null  int64[pyarrow]
 34  highway08        48543 non-null  int64[pyarrow]
 35  highway08U       48543 non-null  double[pyarrow]
 36  highwayA08       48543 non-null  int64[pyarrow]
 37  highwayA08U      48543 non-null  double[pyarrow]
 38  highwayCD        48543 non-null  double[pyarrow]
 39  highwayE         48543 non-null  double[pyarrow]
 40  highwayUF        48543 non-null  double[pyarrow]
 41  hlv              48543 non-null  int64[pyarrow]
 42  hpv              48543 non-null  int64[pyarrow]
 43  id               48543 non-null  int64[pyarrow]
 44  lv2              48543 non-null  int64[pyarrow]
 45  lv4              48543 non-null  int64[pyarrow]
 46  make             48543 non-null  string[pyarrow]
 47  model            48543 non-null  string[pyarrow]
 48  mpgData          48351 non-null  string[pyarrow]
 49  phevBlended      48543 non-null  bool[pyarrow]
 50  pv2              48543 non-null  int64[pyarrow]
 51  pv4              48543 non-null  int64[pyarrow]
 52  range            48543 non-null  int64[pyarrow]
 53  rangeCity        48543 non-null  double[pyarrow]
 54  rangeCityA       48543 non-null  double[pyarrow]
 55  rangeHwy         48543 non-null  double[pyarrow]
 56  rangeHwyA        48543 non-null  double[pyarrow]
 57  trany            48532 non-null  string[pyarrow]
 58  UCity            48543 non-null  double[pyarrow]
 59  UCityA           48543 non-null  double[pyarrow]
 60  UHighway         48543 non-null  double[pyarrow]
 61  UHighwayA        48543 non-null  double[pyarrow]
 62  VClass           48543 non-null  string[pyarrow]
 63  year             48543 non-null  int64[pyarrow]
 64  youSaveSpend     48543 non-null  int64[pyarrow]
 65  baseModel        48543 non-null  string[pyarrow]
 66  guzzler          2797 non-null   string[pyarrow]
 67  trans_dscr       15044 non-null  string[pyarrow]
 68  tCharger         10875 non-null  string[pyarrow]
 69  sCharger         1103 non-null   string[pyarrow]
 70  atvType          5838 non-null   string[pyarrow]
 71  fuelType2        1929 non-null   string[pyarrow]
 72  rangeA           1924 non-null   string[pyarrow]
 73  evMotor          2932 non-null   string[pyarrow]
 74  mfrCode          17735 non-null  string[pyarrow]
 75  c240Dscr         141 non-null    string[pyarrow]
 76  charge240b       48543 non-null  double[pyarrow]
 77  c240bDscr        135 non-null    string[pyarrow]
 78  createdOn        48543 non-null  string[pyarrow]
 79  modifiedOn       48543 non-null  string[pyarrow]
 80  startStop        16854 non-null  string[pyarrow]
 81  phevCity         48543 non-null  int64[pyarrow]
 82  phevHwy          48543 non-null  int64[pyarrow]
 83  phevComb         48543 non-null  int64[pyarrow]
dtypes: bool[pyarrow](1), double[pyarrow](31), int64[pyarrow](28), string[pyarrow](24)
memory usage: 34.1 MB

#### Columnas con valores nulos

In [54]:
columns_with_nulls = vehicles_df.columns[vehicles_df.isnull().any()]
columns_with_nulls

Index(['cylinders', 'displ', 'drive', 'eng_dscr', 'mpgData', 'trany',
       'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2',
       'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop'],
      dtype='object')

Importante es entender la data, muchos datasets públicos tienen una guía, este dataset por ejemplo la tiene en [su página web](https://www.fueleconomy.gov/feg/ws/index.shtml#vehicle).

Es de esperarse que una columna como cylinders tenga valores nulos porque los autos eléctricos no poseen cilindros. Otra causa de los valores nulos fue que simplemente no insertaron ese dato o hubo error humano en la entrada de los datos.

In [55]:
vehicles_df[columns_with_nulls].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48543 entries, 0 to 48542
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cylinders   47458 non-null  int64[pyarrow]
 1   displ       47460 non-null  double[pyarrow]
 2   drive       47357 non-null  string[pyarrow]
 3   eng_dscr    30776 non-null  string[pyarrow]
 4   mpgData     48351 non-null  string[pyarrow]
 5   trany       48532 non-null  string[pyarrow]
 6   guzzler     2797 non-null   string[pyarrow]
 7   trans_dscr  15044 non-null  string[pyarrow]
 8   tCharger    10875 non-null  string[pyarrow]
 9   sCharger    1103 non-null   string[pyarrow]
 10  atvType     5838 non-null   string[pyarrow]
 11  fuelType2   1929 non-null   string[pyarrow]
 12  rangeA      1924 non-null   string[pyarrow]
 13  evMotor     2932 non-null   string[pyarrow]
 14  mfrCode     17735 non-null  string[pyarrow]
 15  c240Dscr    141 non-null    string[pyarrow]
 16  c240bDscr   135 non-null    string[pyarrow]
 17  startStop   16854 non-null  string[pyarrow]
dtypes: double[pyarrow](1), int64[pyarrow](1), string[pyarrow](16)
memory usage: 5.8 MB

In [56]:
vehicles_df[columns_with_nulls].isna().sum()

cylinders      1085
displ          1083
drive          1186
eng_dscr      17767
mpgData         192
trany            11
guzzler       45746
trans_dscr    33499
tCharger      37668
sCharger      47440
atvType       42705
fuelType2     46614
rangeA        46619
evMotor       45611
mfrCode       30808
c240Dscr      48402
c240bDscr     48408
startStop     31689
dtype: int64

In [57]:
vehicles_df[columns_with_nulls].isna().head()

,cylinders,displ,drive,eng_dscr,mpgData,trany,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,c240bDscr,startStop
0,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,True,False,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,True,True,False,True,True,True,True,True,True,True,True,True

In [58]:
vehicles_df[columns_with_nulls].isna().mean().mul(100).round(2)

cylinders      2.24
displ          2.23
drive          2.44
eng_dscr      36.60
mpgData        0.40
trany          0.02
guzzler       94.24
trans_dscr    69.01
tCharger      77.60
sCharger      97.73
atvType       87.97
fuelType2     96.03
rangeA        96.04
evMotor       93.96
mfrCode       63.47
c240Dscr      99.71
c240bDscr     99.72
startStop     65.28
dtype: float64

Por otro lado las columnas `c240Dscr` y `c240bDscr` tienen que ver con los cargadores eléctricos y por eso más del 90% de los valores son nulos.

Vamos a seleccionar dos columnas:

- `city08`: City MPG for fuelType1 - Nota fuelType1 según la descripción, hay vehiculos que usan dos tipos de combustible, type 1 sería el primario.
- `highway08` Highway MPG for fuelType1

In [59]:
city_highway = vehicles_df[["city08", "highway08"]]
city_highway.head()

   city08  highway08
0      19         25
1       9         14
2      23         33
3      10         12
4      17         23

Estos números indican el consumo tanto en la ciudad como en autopista en millas por hora.

Y si no hay valore nulos en estas columnas, cómo es que el consumo de combustible en lso autos eléctricos?

La documentación al rescate: *For electric and CNG vehicles this number is MPGe (gasoline equivalent miles per gallon).* - En resumen, usan una medida equivalente.

In [60]:
city_highway.describe()

          city08  highway08
count    48543.0    48543.0
mean   20.121954  25.964052
std    13.175043  11.422862
min          6.0        9.0
25%         15.0       20.0
50%         18.0       24.0
75%         21.0       28.0
max        153.0      142.0

## Agregación

In [61]:
city_highway["city08"].mean()

20.12195373174299

In [64]:
# chequea si todos los valores on únicos - True, False
city_highway["city08"].is_unique

False

In [67]:
city_highway["city08"].quantile(.7)

20.0

In [72]:
# le puedes pasar una lista de cuantiles
city_highway["city08"].quantile([0.1, 0.3, 0.76])

0.10    13.0
0.30    15.0
0.76    21.0
Name: city08, dtype: double[pyarrow]

In [69]:
import numpy as np

rango_quantiles = np.arange(0, 1.1, 0.1)
city_highway["city08"].quantile(rango_quantiles)

0.0      6.0
0.1     13.0
0.2     15.0
0.3     15.0
0.4     17.0
0.5     18.0
0.6     19.0
0.7     20.0
0.8     22.0
0.9     26.0
1.0    153.0
Name: city08, dtype: double[pyarrow]

El ser una `pandas.Series` podemos operar como tal, solo porque sí, en vez de cuantiles, lo convertimos en percentiles al multuplicar por 100.

In [ ]:
quantiles_mpg = city_highway["city08"].quantile(rango_quantiles)

# al ser una Series, los quantiles son el index
quantiles_mpg.index = quantiles_mpg.index * 100

In [71]:
quantiles_mpg

0.0        6.0
10.0      13.0
20.0      15.0
30.0      15.0
40.0      17.0
50.0      18.0
60.0      19.0
70.0      20.0
80.0      22.0
90.0      26.0
100.0    153.0
Name: city08, dtype: double[pyarrow]

In [76]:
city_highway = city_highway.astype("int16[pyarrow]")

In [77]:
city_highway.head()

   city08  highway08
0      19         25
1       9         14
2      23         33
3      10         12
4      17         23

In [78]:
city_highway.count()

city08       48543
highway08    48543
dtype: int64

In [93]:
city_highway.max()

city08       58
highway08    61
cylinders    16
dtype: int64[pyarrow]

In [94]:
city_highway.min()

city08       6
highway08    9
cylinders    2
dtype: int64[pyarrow]

In [95]:
city_highway.std()

city08       5.382658
highway08    6.090383
cylinders    1.773343
dtype: double[pyarrow]

In [96]:
city_highway.var()

city08        28.97301
highway08    37.092762
cylinders     3.144746
dtype: double[pyarrow]

In [106]:
def std_half(x):
    return x.std() / 2

def std_np(x):
    return np.std(x.to_numpy())

city_highway.agg(["min", "max", "mean", "std", std_np, std_half, "var"])

             city08  highway08  cylinders
min        6.000000   9.000000   2.000000
max       58.000000  61.000000  16.000000
mean      18.372097  24.555333   5.696384
std        5.382658   6.090383   1.773343
std_np     5.382602   6.090319   1.773324
std_half   2.691329   3.045191   0.886672
var       28.973010  37.092762   3.144746

Como dato curioso, nota la diferencia en la desviación estándar dada for `std` y la dada por numpy `std_np`. La razón de esto es que pandas usa el ajunte $n-1$ y numpy una $n$.

Pandas:
$$
S = \sqrt{\frac{1}{N - 1} \sum_{i=1}^{N} (x_i - \bar{x})^2}
$$

Numpy
$$
\sigma = \sqrt{\frac{1}{N} \sum_{i=1}^{N} (x_i - \mu)^2}
$$

Se puede cambiar tanto en pandas como numpy con el parámetro `ddof` -> `df.std(ddof=0)` (`default=1` y es lo mejor en la mayoría de los casos)

In [79]:
city_highway.shape

(48543, 2)